name: QA Automation CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  automation-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t qa-project-chaos .

      - name: Run API and UI Tests
        run: |
          docker run --rm \
          -e PYTHONPATH=/app \
          qa-project-chaos pytest tests/