name: QA Automation CI

on: [push, pull_request]

jobs:
  automation-tests:
    runs-on: ubuntu-latest
    
    # Поднимаем базу данных PostgreSQL как сервис
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        # Ждем, пока база будет готова к работе
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t qa-project-chaos .

      - name: Run all tests
        run: |
          docker run --rm \
          --network host \
          -e PYTHONPATH=/app \
          -e DB_HOST=localhost \
          -e DB_USER=user \
          -e DB_PASSWORD=password \
          -e DB_NAME=testdb \
          qa-project-chaos pytest tests/